<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="EmployeeManagement" connectionString="Server=DESKTOP-DCQVCP9;Database=EmployeeManagement;User Id=sa;Password=1234567;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>